.separator-line{
    top: 3018px;
  left: 100px;
  width: 1240px;
  height: 2px;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
  /* UI Properties */
  background: #b1d8d5 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 110px;
}